# numpy

In [12]:
import numpy as np

## lets do some basic stuff

In [18]:
a = np.array(5);
print(a)
a

5

array(5)

In [25]:
a = np.arange(30);
print(a)
a

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29]

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [26]:
a = a.reshape(3,5,2)
print(a)

[[[ 0  1]
  [ 2  3]
  [ 4  5]
  [ 6  7]
  [ 8  9]]

 [[10 11]
  [12 13]
  [14 15]
  [16 17]
  [18 19]]

 [[20 21]
  [22 23]
  [24 25]
  [26 27]
  [28 29]]]

In [27]:
print(a.shape)
print(a.ndim) #dimension of matrix
print(a.size)
print(a.dtype)

(3, 5, 2)
3
30
int32

In [31]:
a = np.array([20,30,40,50])
b = np.arange(4)
c = a - b
print(c)
d = a * b
print(d)
d > 60

[20 29 38 47]
[  0  30  80 150]

array([False, False,  True,  True])

## pandas

In [2]:
import pandas as pd
import numpy as np

In [8]:
pd.Series([1,2,3,'ali',np.nan])

DatetimeIndex(['2021-10-10', '2021-10-11', '2021-10-12', '2021-10-13',
               '2021-10-14', '2021-10-15'],
              dtype='datetime64[ns]', freq='D')

In [17]:
data = pd.date_range("20211010",periods = 6)
data

DatetimeIndex(['2021-10-10', '2021-10-11', '2021-10-12', '2021-10-13',
               '2021-10-14', '2021-10-15'],
              dtype='datetime64[ns]', freq='D')

In [19]:
pd.DataFrame(np.random.randn(6, 4),index = ["ss","ss","ss","ss","ss","ss"])

                   0         1         2         3
2021-10-10 -1.279787 -0.204312 -1.710018 -0.254888
2021-10-11 -0.786974  1.640094  0.905088 -1.364998
2021-10-12 -0.630868  0.308531 -1.212907  0.779964
2021-10-13 -1.069328 -0.767867  0.369981 -0.917334
2021-10-14  1.687346  0.051740 -1.123352 -2.415055
2021-10-15 -0.572529  0.722320  0.504913  0.796467